.mc-thread{
    padding:5px;
    font-size:12px;
    position: relative;
    min-height: 30px;
}
.mc-thread .comment-closed{
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}
.mc-thread .mc-comments-counts{
    text-align: right;
}
.mc-thread .mc-comments-counts strong{
    color:#DD3322;
}
.mc-thread .mc-replybox .mc-avatar{
    float: left;
}
.mc-thread .mc-replybox .mc-avatar img {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
    display: block;
    height: 48px;
    width: 48px;
}
.mc-thread .mc-replybox form{
    margin-left:70px;
}
.mc-thread .mc-replybox .mc-comment-user{
    margin:0 0 8px 0;
}
.mc-thread .mc-replybox .mc-comment-user input{
    border:1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.15) inset;
    background: none;
    line-height: 16px;
    padding: 4px;
    margin-right:10px;
	outline: none;
}
.mc-thread .mc-replybox .mc-comment-textarea{
    border:1px solid #ccc;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.15) inset;
    background: none;
}
.mc-thread .mc-replybox .mc-comment-textarea textarea{
    width:100%;
    color: #777;
    height: 54px;
    margin: 0;
    padding: 0;
    resize: none;
    border: none;
    background: none;
	outline: none;
}
.mc-thread .mc-replybox .mc-comment-submit{
    margin-top:10px;
}
.mc-thread .mc-replybox .mc-comment-submit input{
    background-color: #E6E6E6;
    background-image: linear-gradient(#FCFCFC, #FCFCFC 25%, #E6E6E6);
	background-image:-webkit-linear-gradient(#FCFCFC,#E6E6E6);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FCFCFC',endColorStr='#E6E6E6',gradientType='0'); 
    background-repeat: no-repeat;
    border-radius: 3px;
    border-color: #ccc #ccc #aaa;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px #fff inset;
    color: #555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    text-align: center;
    text-shadow: 0 1px 0 #FFF;
    transition: all 0.15s linear 0s;
    width: 100px;
}
.mc-thread .captcha_show{
    padding: 5px 0 0;
}
.mc-thread .captcha_show input{
    width:70px;
}
.mc-thread .captcha_show img{
    width:80px;
    height:30px;
    vertical-align: middle;
    cursor: pointer;
}
.mc-thread .mc-comments{
    margin:10px 0 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #e5e5e5;
}
.mc-thread .mc-comments li.mc-post{
    list-style: none;
    border-top: 1px solid #e5e5e5;
    padding: 10px 5px;
}
.mc-thread .mc-comments li.mc-post-placeholder{
    text-align: center;
    color:#888;
    padding: 14px;
}
.mc-thread .mc-comments li.mc-post p{
    font-size: 13px;
    line-height: 1.5em;
    margin: 0.5em 0;
    word-wrap: break-word;
}
.mc-thread .mc-comments li.mc-post .mc-avatar{
    float: left;
}
.mc-thread .mc-comments li.mc-post .mc-avatar img{
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
    display: block;
    height: 48px;
    width: 48px;
}
.mc-thread .mc-comments li.mc-post .mc-comment-body{
    margin-left:60px;
}
.mc-thread .mc-comments li.mc-post .mc-comment-body .mc-time{
    color: #999;
    font-size: 12px;
    margin-right: 8px;
}
.mc-thread .mc-comments li.mc-post .mc-comment-body .mc-replybox{
    margin-top: 8px;
}
.mc-thread .mc-comments li.mc-post .mc-comment-footer a{
    margin-right: 8px;
    color:#999;
}
.mc-thread .mc-comments li.mc-post .mc-comment-footer a:hover{
    color:#555;
    text-decoration: none;
}
.mc-thread .mc-comments li.mc-post .mc-comment-footer a em{
    font-style: normal;
}

.mc-thread .mc-comments li.mc-post .mc-comment-footer a .mc-icon{
    background: url('../images/icons.png') no-repeat;
    height:13px;
    width:18px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;

    opacity: 0.5;
    filter:alpha(opacity=50);
}
.mc-thread .mc-comments li.mc-post .mc-comment-body .mc-reply-actived{
    color:#555;
}
.mc-thread .mc-comments li.mc-post .mc-comment-body .mc-reply-actived .mc-icon,.mc-thread .mc-comments li.mc-post .mc-comment-footer a:hover .mc-icon{
    opacity: 1;
    filter:alpha(opacity=100);
}

.mc-thread .mc-comments li.mc-post .mc-comment-footer a .mc-icon-reply{
    background-position: 0 -5px;
}
.mc-thread .mc-comments li.mc-post .mc-comment-footer a .mc-icon-good{
    background-position: 0 -29px;
}
.mc-thread .mc-comments li.mc-post .mc-comment-footer a .mc-icon-bad{
    background-position: 0 -56px;
}

/*评论分页样式*/
.mc-comment-pages .pages{font-size: 14px;margin: 20px 0 10px;text-align: center;}
.mc-comment-pages .pages a, .mc-comment-pages .pages span {
    border:none;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0 4px;
    padding: 0 5px;
}
.mc-comment-pages .pages span{color:#999;}
.mc-comment-pages .pages em,.mc-comment-pages .pages i{font-style: normal;}
.mc-comment-pages .pages a.on{color:#333;border: 1px solid #E6E6E6;}
.mc-comment-pages .pages a:hover{background: #eee;text-decoration: none;}

.mc-comment-loading{
    position: absolute;
    bottom: 0;
    text-align: left;
    width: 100%;
    height:35px;
    padding-left: 24px;
    color:#777;
    background: url('../images/loader.gif') no-repeat top left;
}
