/* 登陆页面 */
*{box-sizing: border-box;}
html,body{min-height: 100%;}
body{background-color:#36465d;background: linear-gradient(0deg, #375176 1%, #36465d 100%);filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#375176',endColorStr='#36465d',gradientType='0'); font-size:14px;font-family: "Hiragino Sans GB","Helvetica Neue","Microsoft YaHei","微软雅黑",Helvetica,STHeiTi,Arial,sans-serif;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;}
input[type="text"],input[type="email"],input[type="password"],textarea{outline: none;}
#wrapper{position: relative;margin-bottom:20px;padding-top:100px;}
a{text-decoration: none;}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.pull-left{float: left;}
.pull-right{float: right;}
.alert {
    padding: 5px 14px;
    margin-bottom: 20px;
    background: #fcfddb;
    border: 1px solid #f9f2a7;
    border-radius: 4px;
    font-size: 12px;
}
.alert-danger, .alert-error {
    color: #B94A48;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.btn-xl{
    border: none;
    background-color: #5fb336;
    color:#fff;
    border-radius: 6px;
    min-width: 120px;
    height: 38px;
    padding: 0 10px;
    line-height: 38px;
    font-size: 14px;
}
.btn-primary{border:none;background-color: #59b0ff;}
.btn-primary:hover{background-color: #4daaff;}
.btn-primary:active, .btn-primary:focus{background-color: #1a90ff;}
.btn:active, .btn.active{box-shadow: none;}
.login-box{width: 714px;margin:0 auto;background-color: #fff;border:1px solid #b3b3b3;border-radius: 3px;}
.login-box .mod-body{padding:50px 60px;}
.login-box .mod-body .content{width: 300px;margin-right: 60px;}
.login-box .mod-body .content h1{margin:6px 0;}
.login-box .mod-body .content h2{margin:13px 0 20px;color: #666;font-size: 14px;font-weight: normal;}
.login-box .mod-body .content ul{margin:0;padding:0;}
.login-box .mod-body .content ul li{margin-top: 20px;line-height: 30px;list-style: none;}
.login-box .mod-body .content ul li:first-child{margin-top: 0;}
.login-box .mod-body .content ul li.last{font-size: 12px;line-height: 40px;}
.login-box .mod-body .content ul li.last input{vertical-align: -2px\0;}
.login-box .mod-body .content ul li.last a{color: #666;}
.login-box .mod-body .content ul li .btn-primary{width:112px;color: #fff !important;}
.login-box .mod-body .side-bar{height: 326px;padding:60px 0 60px 60px;border-left: 1px solid #e6e6e6;}
.login-box .mod-body .side-bar h3{margin-bottom:27px;color: #666;text-align: center;}
.login-box .mod-body .side-bar .btn{position:relative;width: 170px;height: 40px;line-height: 40px;margin:0 0 20px;padding:0 0 0 15px;}
.login-box .mod-body .side-bar .btn i{position:absolute;left:15px;top:10px;font-size: 18px;color: #fff;}
.login-box .mod-body .side-bar .btn-wechat .img{display: none;}
.login-box .mod-body .side-bar .btn-wechat.active{position: relative;height:200px;background-color: #4d4d4d;}
.login-box .mod-body .side-bar .btn-wechat.active .img{display:block;position: absolute;left: 10px;top: 40px;width:148px;height: 148px;}
.login-box .mod-body .side-bar .btn-wechat.active img{max-width: 148px;}
.login-box .mod-body .side-bar .btn-wechat.active #aw-loading-mini-box{margin-top: 55px;}
.login-box .mod-body .form-control{height: 40px;line-height: 28px\0;padding-left:15px !important;box-shadow: none;border-color: #e6e6e6;}
.login-box .mod-body .form-control:focus{border-color:#5fb336;}
.login-box .mod-body .captcha .form-control{width: 130px;float: left;margin-right: 10px;}
.login-box .mod-body .captcha .captcha_show{float: right;}
.login-box .mod-body .btn-xl{
    float: right;
}
a{color: #5fb336;}
.login-box .mod-footer{height: 70px;line-height:70px;background-color: #f5f5f5;padding:0 60px;color: #5fb336;}
.login-box .mod-footer span{color: #666;}
.footer-wrap{color: #bbb;text-align: center;font-size: 12px;}

/* 注册页面 */
.register-box{width: 714px;height: auto;margin:100px auto 40px;padding:50px 0;background:#fff;border:1px solid #b3b3b3;border-radius: 3px;text-align: center;}
.register-box h1{margin:45px 0 0;font-size: 20px;color: #666;font-weight: normal;}
.register-box .mod-body{width: 390px;margin:0 auto;padding: 40px;}
.register-box ul{margin:0;padding:0;}
.register-box ul li{position:relative;line-height:30px;margin-bottom: 20px;list-style: none;}
.register-box ul li input[type="text"], .register-box ul li input[type="password"]{width:100%;height: 40px;line-height: 28px\0;padding-left:15px !important;box-shadow: none;border-color: #e6e6e6;}
.register-box ul li.last{text-align: left;color:#666;}
.register-box ul li.last input{vertical-align: -2px\0;}
.register-box ul li.alert-danger i{margin-right: 5px;}
.register-box ul li hr{margin:30px 0;}
.register-box .captcha .form-control{width: 130px;float: left;margin-right: 10px;}
.register-box .captcha .captcha_show{float: right;}
.register-box ul .register-verify input{width: 190px !important;}
.register-box ul .register-verify img{cursor: pointer;}
.register-box .form-control:focus{border-color:#5fb336;}
.register-box .more-information ul li{padding:5px 0;text-align: left;}
.register-box .more-information .select_area{max-width: 120px;}
.register-box .more-information-btn{position: absolute;left: 105px;top:-15px;width: 90px;background-color: #fff;color: #66b7ff;}
.register-agreement{position:relative;width:712px;margin:10px 0 0 -201px;padding: 20px;background:#f5f5f5;}
.register-agreement-txt{max-height: 200px;overflow-x:hidden;overflow-y:auto;}
.register-box .btn-xl{
    width: 100%;
}
/* 注册提示 */
.register-box li span{position:absolute;top:0;right:-145px;width: 130px;padding:5px;font-size:12px;border-radius: 5px;overflow: hidden;text-align: left;}
.reg-tips{line-height:15px;background: #eef7fd;border: 1px solid #cfdde6;color:#999;}
.reg-err{line-height: 28px;background: #ffeaea;border:1px solid #e5c3c4;color:#C00;}
.reg-right{background: none;border: none;}

/* 开放接口注册页面 */
.register-open-box{padding-top:30px;}
.register-open-box p{width: 240px;text-align: left;margin: 0 auto 10px;}
.register-open-box ul{padding-top:0px;}
.register-open-tabs i{margin-left:5px;}
.register-open-tabs.active .i-triangle-down{background-position: -210px -110px;}

/* 找回密码 */
.find-pwd{padding-bottom: 0;}
.find-pwd .mod-body{margin: 30px auto 100px;}
.find-pwd .mod-footer{height: 70px;line-height: 70px;background-color: #f5f5f5;border-radius: 0 0 3px 3px;}
.register-box ul li.error p {background: none repeat scroll 0 0 #fff480;border: 1px solid #ebebeb;border-radius: 5px 5px 5px 5px;color: #666;height: 40px;line-height: 40px;padding-left: 12px;text-align: left;}
.register-box ul li.error p .i-no{margin-right: 10px;position: relative;top:4px;}

.mobile_captcha{
    position: absolute;
    top:5px;
    left:320px;

    border: none;
    background-color: #5fb336;
    color: #fff;
    border-radius: 6px;
    width: 120px;
    height: 28px;
    padding: 0 10px;
    line-height: 28px;
    font-size: 12px;
}
.mobile_captcha:disabled{ 
    background-color: #dddddd;
}
/* iphone横屏幕 */
@media (max-width:700px){
    .register-box{width: 670px !important;}
    .login-box{width: 670px !important;}
}

/* iphone竖屏幕 */
@media (max-width:414px){
    .login-box{width: 350px !important;}
    .register-box{width: 350px !important;}
    .regiter-agreement{width: 240px;margin:10px 0 0;}

    .mobile_captcha{
        position:static;
        display: block;
        margin-top: 15px;
    }
    /*登录界面*/
    #wrapper{padding: 20px;}
    .login-wrap{width: auto;}
    .login-box .mod-body .content{width: 100%;}
    .login-box .mod-head, .login-box .mod-body, .login-box .mod-footer{width: auto;}
    .login-box .mod-body{padding: 10px;}
    .login-box .mod-footer{padding:0 10px !important;}
    .login-box .mod-body .side-bar{height: auto;border-left: none;padding: 20px;}

    /*注册界面*/
    .register-box .mod-body{width:100%;padding:10px;}
    .register-box, .register-box ul li{width: auto;}
}
@media (max-width:320px){
    .register-box{width: 270px !important;}
    .login-box{width: 270px !important;}
}