body{margin:0;font-size: 14px;font-family: "Hiragino Sans GB","Helvetica Neue","Microsoft YaHei","微软雅黑",Helvetica,STHeiTi,Arial,sans-serif;/*font-family:"Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;*/}
img{border:none;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;}
input[type="text"],input[type="email"],input[type="password"],textarea{outline: none;}
ul,li{margin:0;padding:0;list-style: none;}
::selection{background-color:#38485a;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.3)}
*::-moz-selection {background-color: #38485A;color: #FFFFFF;text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);}
form,p{margin:0;padding:0;}
/*引用样式*/
blockquote {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 0 0 5px;
    padding-right: 8px;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-style: italic;
    padding: 2px 0;
    padding-left: 20px;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #f9f9f9;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
a{text-decoration: none;color: #525558;}
a:hover{text-decoration: none;}
.placeholder { color: #999; }
.left { float: left; }
.f-red{color:red;}
.f-green{color:green;}
.normal-btn {
    letter-spacing: 2px;
    text-indent: 4px;
    padding: 0 15px;
    height: 30px;
    border: 0;
    text-align: center;
    outline: 0;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    background-color: #5fb336;
    cursor: pointer;
}

div.pages{
    text-align: center;
    padding:15px 0;
}
div.pages a{
    padding:2px 4px;
    margin:0 4px;
}
div.pages a:hover{
    background: #eee;
    text-decoration: none;
}
div.pages a i{
    font-style: normal;
}
div.pages a.on{
    background: #5fb336;
    color:#fff;
}
.my-header{
    position: relative;
    min-width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #000;
    font-weight: 500;
    z-index: 4;
    color:#fff;
}
.my-header .inner{
    padding:0 40px;
}
.head-user{
    float: right;
}
.head-nav{
    float: left;
}
.my-header a.head-logo{
    float: left;
    margin: 14px 40px 0 0;
    height: 35px;
    width: 180px;
    text-align: right;
    color:#aaa;
    font-size: 12px;
    background: url(../images/logo.png) no-repeat left center;
}
.my-header a.head-logo i,.my-header a.head-logo em{
    font-style: normal;
}
.my-header a.head-logo em{
    display: none;
}
.my-header a.head-logo:hover em{
    display: block;
}
.my-header a.head-logo i{
    display: block;
}
.my-header a.head-logo:hover i{
    display: none;
}
.head-nav ul li{
    float: left;
}
.head-nav ul li a{
    float: left;
    display: block;
    line-height: 60px;
    color: #fff;
    font-weight: 500;
}
.head-nav ul li.active a{
    color: #5fb336;
}
.head-nav ul li a:hover{
    color:#5fb336;
}
.head-nav ul li>a{
    padding: 0 15px;
    letter-spacing: 2px;
}

.my-header .publish-btn {
    display: block;
    line-height: 26px;
    height: 28px;
    padding: 0 27px;
    color: #5fb336;
    width: auto;
    margin-right: 0;
    border: solid 1px #5fb336;
}
.head-user a{
    color:#fff;
}
.head-user ul.main-list > li{
    position: relative;
    float: left;
    margin-right: 15px;    
    padding: 15px 0;
    height: 30px;
}
.head-user ul.main-list .user-info{
    position: relative;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    margin-right: 10px;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.head-user ul.main-list .user-info img{width:26px;height: 26px;border-radius: 13px;vertical-align: middle;margin-right: 10px;}
.head-user ul.main-list {
    max-width: 300px;
    margin-left: 0;
}
.head-user ul.main-list  ul.sub-list{
    display: none;
}

#footer{
    background: #222222;
    margin:40px auto 0;
    padding: 20px 0;
    text-align: center;
    color: #888;
    line-height: 2;
}
#footer a{
    color:#aaa;
}
.sub-list{
    position: absolute;
    top: 59px;
    z-index: 3;
    left: -20px;
    width: 120px;
    margin-top: 1px;
    line-height: 1;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    transition: opacity .5s ease;
    border-top: 10px solid rgba(0,0,0,0);
}
.sub-list li{
    background-color: #222;
}
.sub-list li:first-child {
    padding-top: 10px;
}
.sub-list li:last-child {
    padding-bottom: 10px;
}
.sub-list li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
}
.secondary-nav {
    width: 100%;
    height: 28px;
    padding: 16px 0;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px 0 rgba(133,136,138,.1);
    -moz-box-shadow: 0 2px 8px 0 rgba(133,136,138,.1);
    box-shadow: 0 2px 8px 0 rgba(133,136,138,.1);
}
.secondary-nav .nav-list {
    position: relative;
    text-align: center;
    font-size: 0;
}
.secondary-nav .nav-list li {
    display: inline-block;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
}
.secondary-nav .nav-list li.active a {
    border-bottom: 2px solid #5fb336;
}
.secondary-nav .nav-list li a {
    position: relative;
    display: block;
    height: 100%;
    margin: 0 20px;
    color: #222;
    text-decoration: none;
}

.content {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 40px 20px;
    width: 940px;
    background-color: #fff;
}

.content a{
    color:#5fb336;
}
.content .avatar-wrap {
    position: absolute;
    right: 40px;
    top: 105px;
}
.content .avatar-wrap .avatar {
    border-radius: 100%;
    width: 110px;
    height: 110px;
    background-size: cover;
    background-position: center;
    text-align: center;
    line-height: 50px;
    color:#fff;
    text-shadow:0 1px 2px #c4b59d;
}
.content .avatar-wrap .change-btn {
    cursor: pointer;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    width: 90px;
    line-height: 28px;
    border: solid 1px #5fb336;
    font-size: 14px;
    color: #5fb336;
    text-align: center;
}
.content .avatar-wrap .change-btn input {
    opacity: 0;
    position: absolute;
    top: -999px;
}
.content .smallbtn{
    border:1px solid #5fb336;
    color:#5fb336;
    border-radius:4px;
    padding:4px 10px;
    background: #fff;
}
.line-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
}
.line-wrap .title {
    margin: 0;
    height: 45px;
    font-size: 32px;
    font-weight: 500;
    color: #222;
}
.line-wrap .label {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    display: block;
    font-weight: 500;
    color: #222;
}
.line-wrap .input-wrap {
    margin: 12px 0 0;
}
.line-wrap .nomal-textarea {
    width: 460px;
    height: 60px;
    padding: 10px 15px 10px 10px;
    outline: 0;
    font-size: 13px;
    border: solid 2px #e0e0e0;
}
.line-wrap .nomal-input {
    width: 460px;
    height: 20px;
    padding: 10px 15px 10px 10px;
    outline: 0;
    font-size: 13px;
    border: solid 2px #e0e0e0;
}
.line-wrap .readonly{
    background: #eee;
}
.line-wrap select {
    width: 460px;
    padding: 10px 15px 10px 10px;
    outline: 0;
    font-size: 13px;
    border: solid 2px #e0e0e0;
    border-radius: 0;
    box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url(../images/arrow.png) no-repeat right center;
}
.line-wrap .submit-btn {
    letter-spacing: 4px;
    text-indent: 4px;
    width: 100px;
    height: 40px;
    border: 0;
    text-align: center;
    outline: 0;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    background-color: #5fb336;
    cursor: pointer;
    margin-top: -12px;
}

.list-body{
    padding: 20px 40px;
    min-height: 800px;
    /*max-width: 1800px;*/
    margin:0 auto;
}

.justified-gallery{
    z-index: 1;
}
.content-gallery{
    min-height: 200px;
}
.content-gallery a.photo_link{
    display: block;
    width: 100%;
    height: 100%;
}
.content-gallery .photo_thumbnail .top-button{
    opacity: 0;
    position: absolute;
    z-index: 101;
    width: 100%;
    min-height: 45px;
    top:0;
    background: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,0)),to(rgba(0,0,0,.6)));
    background: -webkit-linear-gradient(bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);
    background: -moz-linear-gradient(bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);
    background: linear-gradient(to top,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.content-gallery .photo_thumbnail .info{
    opacity: 0;
    position: absolute;
    z-index: 101;
    width: 100%;
    min-height: 45px;
    bottom:0;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.6)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
.content-gallery .photo_thumbnail:hover .info,.content-gallery .photo_thumbnail:hover .top-button{
    opacity: 1;
}
.content-gallery .photo_thumbnail .info span.photo-title{
    position: relative;
    max-width: calc(100% - 40px);
    max-width: -webkit-calc(100% - 40px);
    max-width: -moz-calc(100% - 40px);
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color:#fff;
    top:18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-gallery .photo_thumbnail .info span.photo-title:hover{
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
}
.content-gallery .photo_thumbnail .info a.addto{
    width: 24px;
    height: 24px;
    background: url(../images/gallery-btns.png) no-repeat center -60px;
    position: absolute;
    top:18px;
    right: 10px;
}
.content-gallery .photo_thumbnail .top-button .privtype{
    width: 24px;
    height: 24px;
    background: url(../images/gallery-btns.png) no-repeat center 2px;
    position: absolute;
    top:0px;
    right: 10px;
}
.content-gallery .photo_thumbnail .top-button .setcover{
    width: 24px;
    height: 24px;
    background: url(../images/gallery-btns.png) no-repeat center -125px;
    position: absolute;
    top:0px;
    right: 40px;
}
.content-gallery .photo_thumbnail .top-button .btns,.content-gallery .photo_thumbnail .info a.btns,.content-gallery .photo_thumbnail .info span.photo-title{
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
.content-gallery .photo_thumbnail:hover .info span.photo-title,.content-gallery .photo_thumbnail:hover .info a.addto,.content-gallery .photo_thumbnail:hover .top-button .btns{
    top:11px;
}

.content-gallery .photo_thumbnail .info a.addto:hover{
    background-color: rgba(255,255,255,0.4);
    border-radius: 3px;
}
.content-gallery .photo_thumbnail .top-button .btns:hover{
    background-color: rgba(255,255,255,0.4);
    border-radius: 3px;
}
.content-gallery .photo_thumbnail .top-button .privtype.open{
    background-position: center -30px
}
.loadingbar{
    color:#aaa;
    text-align: center;
    padding: 20px;
}
.loadingbar label{
    padding-right: 60px;
    background: url(../images/dotloading.gif) no-repeat right center;
}
.loadingbar label.nomore{
    padding: 0;
    display: inline-block;
    width: 128px;
    height: 37px;
    background: url(../images/nomore.png) no-repeat center;
}
.justified-gallery>.spinner{
    display: none;
}
.content-album .photo_thumbnail {
    position: relative;
    width: 360px;
    margin: 0 25px 50px 25px;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
}
.content-album .photo_thumbnail:hover{
    -webkit-box-shadow:0 1px 15px rgba(0,0,0,.08);
    box-shadow:0 1px 15px rgba(0,0,0,.08)
}
.content-album .photo_thumbnail a.album_link{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}
.content-album .photo_thumbnail .top{
    width:360px;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #b9c1c7;
    border-radius: 3px 3px 0 0;
}
.content-album .photo_thumbnail .bottom{
    position: relative;
    width: 100%;
    padding-top: 15px;
    height: 75px;
    text-align: center;
    border: 1px solid #eeeff2;
    border-top: none;
    border-radius: 0 0 3px 3px;
}
.content-album .photo_thumbnail .bottom a.name{
    font-size: 20px;
    line-height: 1.4em;
    text-align: center;
    position: relative;
    z-index: 150;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 65%;
    display: inline-block;
}
.content-album .photo_thumbnail .bottom a:hover {
    color: #5fb336;
}
.content-album .photo_thumbnail .bottom span.desc{
    color: #b9c1c7;
    font-size: 14px;
    display: block;
    margin: 0 auto 14px;
    white-space: nowrap;
    overflow: hidden;
    width: 95%;
    text-overflow: ellipsis;
}

.gallery_private_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/gallery-btns.png);
    background-position: 0 -90px;
    background-repeat: no-repeat;
    position: absolute;
    margin: 3px 0 0 3px;
}

.container .head-title {
    margin: 20px 40px;
    height: 45px;
}
.container .head-title label {
    font-size: 32px;
    font-weight: 500;
    color: #222;
}
.container .head-title .album-account {
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #85888a;
    margin-left: 20px;
}
.container .head-title .right{
    float: right;
}
.container .head-title .delete-album {
    cursor: pointer;
    width: 64px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #e60a05;
    margin-left: 20px;
    margin-top: 4px;
}


.mini-container .content {
    position: relative;
    margin: 0 auto;
    padding: 0 0 20px;
    width: 100%;
    background-color: #fff;
}
.mini-container .content .tag-editor {
    border: solid 2px #e0e0e0;
    width: 460px;
}
.mini-container .content .line-wrap .nomal-input,.mini-container .content .line-wrap select,.mini-container .content .line-wrap .nomal-textarea{
    width: 455px;
    padding:5px;
}
.mini-container .content .line-wrap{
    padding: 10px 0;
}
.mini-search .nomal-input{
    width: 300px;
    padding:4px;
}

.innercol .gallary_item{
    width:120px;
    height: 120px;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    cursor: pointer;
}
.innercol .gallary_item em{
    font-style: normal;
    padding: 0 4px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    border-radius: 4px;
    position: absolute;
    left:2px;
    top:2px;
}
.innercol .gallary_item .title{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
}
.innercol .gallary_item:hover .title{
    display: block;
    font-size: 12px;
    width: 100%;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    text-indent: 4px;
    z-index: 11;
}
.innercol .gallary_item .id_sel{
    display: none;
}
.innercol .gallary_item:hover .check,.innercol .checked .check{
    position: absolute;
    left:40px;
    top:35px;
    width: 32px;
    height: 32px; 
    background: url(../images/check.png) no-repeat center;
}
/*
div.main-container{
    position: relative;
    min-height: 548px;
    background: #000;
    height: 100%;
}*/

div.sidebar-region{
    position: absolute;
    float: right;
    width: 320px;
    top: 0;
    height: 100%;
    right: 0;
    overflow: auto;
    color:#aaa;
    background-color: #000;
}
div.sidebar-region a{
    color:#fff;
}
div.photo-container{
    overflow: hidden;
    position: relative;
    display: inline-block;
    float: left;
    background-color: #000;
    width: calc(100% - 320px);
    width: -webkit-calc(100% - 320px);
    width: -moz-calc(100% - 320px);
    min-height: 548px;
    padding: 10px 20px 0 20px;
    box-sizing:border-box;
    border-right: 1px solid #1c1d1e;
    height: 100%;
}
div.photo-view{
    box-sizing:border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin:10px 20px;
}
div.photo-container img.photo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    width: auto;
    height: auto;
    cursor: zoom-in;
}
div.photo-container a.close{
    display: block;
    position: absolute;
    right:10px;
    top: 10px;
    width:32px;
    height: 32px;
    background: url(../images/close.png) no-repeat center;
    z-index: 1001;
}
div.photo-container a.fullscreen{
    display: block;
    position: absolute;
    left:10px;
    top: 10px;
    width:32px;
    height: 32px;
    background: url(../images/fullscreen.png) no-repeat center;
    z-index: 1001;
}
div.photo-container a.icon-like{
    display: none;
    position: absolute;
    right:10px;
    top: 10px;
    padding-left:36px;
    width:40px;
    height: 32px;
    line-height: 32px;
    color:#e6e6e6;
    background: url(../images/b-heart.png) no-repeat left;
    z-index: 1001;
}
div.photo-container a.btn-prev{
    opacity: 0;
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0px;
    left:0px;
    background: url(../images/a-left.png) no-repeat 10px center;
}
div.photo-container a.btn-next{
    opacity: 0;
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0px;
    right:0px;
    background: url(../images/a-right.png) no-repeat 35px center;
}
div.photo-container a.btn-prev:hover,div.photo-container a.btn-next:hover{
    opacity: 1;
}
div.fullscreen div.photo-container{
    width:100%;
    border-right: none;
}
div.fullscreen div.photo-container a.close{
    display: none;
}
div.fullscreen div.photo-container a.close{
    display: none;
}
div.fullscreen div.photo-container a.icon-like{
    display: block;
}
div.fullscreen div.sidebar-region{
    display: none;
}
div.sidebar-region .sidebar-actions{
    padding:10px;
}
div.sidebar-region .sidebar-actions a{
    display: inline-block;
    width: 30%;
    font-size: 14px;
    padding-left:30px;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
}
div.sidebar-region .sidebar-actions a.icon-like{
    background: url(../images/i-like.png) no-repeat left;
}
div.sidebar-region .sidebar-actions a.icon-comment{
    background: url(../images/i-comment.png) no-repeat left;
}
div.sidebar-region .sidebar-actions a.icon-read{
    background: url(../images/i-hot.png) no-repeat left;
}
div.sidebar-region .sidebar-comment{
    padding-top:10px;
}
div.sidebar-region .mc-thread .mc-comments li.mc-post{
    border-top: none;
}
div.sidebar-region .mc-thread .mc-replybox .mc-comment-submit input{
    display: block;
    line-height: 26px;
    height: 28px;
    padding: 0 10px;
    color: #5fb336;
    width: auto;
    margin-right: 0;
    border: solid 1px #5fb336;
    background: transparent;
    border-radius:0;
    box-shadow:none;
    text-shadow: none;
    font-weight:normal;
}
div.sidebar-region .mc-thread .mc-replybox .mc-comment-textarea{
    border: solid 1px #5fb336;
    box-shadow: none;
    background: #1c1d1e;
}
div.sidebar-region .mc-thread .mc-comments{
    border-bottom: none;
}
div.sidebar-region .mc-thread .mc-comments li.mc-post .mc-avatar img,div.sidebar-region .mc-thread .mc-replybox .mc-avatar img{border-radius: 50%}

div.sidebar-region .sidebar-actions{
    border-bottom: 1px solid #1c1d1e;
}
div.sidebar-region .sidebar-author{
    border-bottom: 1px solid #1c1d1e;
    position: relative;
    height: 80px;
    padding: 20px 0 20px 67px;
    line-height: 1.5;
    box-sizing: border-box;
}
div.sidebar-region .sidebar-author img{
    border-radius: 50%;
}
div.sidebar-region .author-head{
    position: absolute;
    left: 10px;
    top: 16px;
}
div.sidebar-region .sidebar-description{
    border-bottom: 1px solid #1c1d1e;
    padding: 10px;
    color:#fff;
}
div.sidebar-region .sidebar-description h2{
    margin: 10px 0 0;
    font-size: 16px;
    font-weight: 500;
}
div.sidebar-region .sidebar-description p{
    margin:10px 0;
}
div.sidebar-region .sidebar-exif{
    border-bottom: 1px solid #1c1d1e;
    padding-bottom: 10px;
    font-size: 12px;
}
div.sidebar-region .sidebar-exif h2{
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}
.sidebar-exif .camera_settings > div{
    display: inline-block;
    width: 70px;
    text-align: center;
}

.sidebar-exif .camera_settings .cicon {
    background-position: center;
    width:30px;
    height: 30px;
    margin: 0 auto 5px;
    background-repeat: no-repeat;
}
.apertureIcon {
    background-image: url(../images/aperture.png);
}
.exposureTimeIcon {
    background-image: url(../images/time.png);
}
.focalLengthIcon{
    background-image: url(../images/focus.png);
}
.isoIcon{
    background-image: url(../images/iso.png);
}
div.sidebar-region .license_metadata{
    border-bottom: 1px solid #1c1d1e;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px;
}
div.sidebar-region .license_metadata_key{
    color:#888;
    width: 80px;
}
div.sidebar-region .sidebar-edit{
    border-bottom: 1px solid #1c1d1e;
    padding:10px;
}
div.sidebar-region .sidebar-edit a{
    background: #1c1d1e;
    padding: 4px 5px;
    display: inline-block;
    width: 70px;
    text-align: center;
}
div.viewphoto{
    position: fixed;
    z-index: 1000;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}