body{margin:0;font-size: 14px;font-family: "Hiragino Sans GB","Helvetica Neue","Microsoft YaHei","微软雅黑",Helvetica,STHeiTi,Arial,sans-serif;/*font-family:"Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;*/}
img{border:none;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer;}
input[type="text"],input[type="email"],input[type="password"],textarea{outline: none;}
ul,li{margin:0;padding:0;list-style: none;}
::selection{background-color:#38485a;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.3)}
*::-moz-selection {background-color: #38485A;color: #FFFFFF;text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);}
form{margin:0;padding:0;}
/*引用样式*/
blockquote {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 0 0 5px;
    padding-right: 8px;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-style: italic;
    padding: 2px 0;
    padding-left: 20px;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #f9f9f9;
    min-width: 800px;
}
a{text-decoration: none;color: #525558;}
a:hover{text-decoration: none;}
.placeholder { color: #999; }
.left { float: left; }
.f-red{color:red;}
.f-green{color:green;}

div.pages{
    text-align: center;
    padding:15px 0;
}
div.pages a{
    padding:2px 4px;
    margin:0 4px;
}
div.pages a:hover{
    background: #eee;
    text-decoration: none;
}
div.pages a i{
    font-style: normal;
}
div.pages a.on{
    background: #5fb336;
    color:#fff;
}
.my-header{
    position: relative;
    min-width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #000;
    font-weight: 500;
    z-index: 2;
    color:#fff;
}
.my-header .inner{
    padding:0 40px;
}
.head-user{
    float: right;
}
.head-nav{
    float: left;
}
.my-header a.head-logo{
    float: left;
    margin: 17px 40px 0 0;
    height: 25px;
    width: 160px;
    text-align: right;
    color:#aaa;
    font-size: 12px;
    background: url(../images/logo.png) no-repeat left center;
}
.my-header a.head-logo i,.my-header a.head-logo em{
    font-style: normal;
}
.my-header a.head-logo em{
    display: none;
}
.my-header a.head-logo:hover em{
    display: block;
}
.my-header a.head-logo i{
    display: block;
}
.my-header a.head-logo:hover i{
    display: none;
}
.head-nav ul li{
    float: left;
}
.head-nav ul li a{
    float: left;
    display: block;
    line-height: 60px;
    color: #fff;
    font-weight: 500;
}
.head-nav ul li.active a{
    color: #5fb336;
}
.head-nav ul li a:hover{
    color:#5fb336;
}
.head-nav ul li>a{
    padding: 0 15px;
    letter-spacing: 2px;
}

.my-header .publish-btn {
    display: block;
    line-height: 26px;
    height: 28px;
    padding: 0 27px;
    color: #5fb336;
    width: auto;
    margin-right: 0;
    border: solid 1px #5fb336;
}
.head-user a{
    color:#fff;
}
.head-user ul.main-list > li{
    position: relative;
    float: left;
    margin-right: 15px;    
    padding: 15px 0;
    height: 30px;
}
.head-user ul.main-list .user-info{
    position: relative;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    margin-right: 10px;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.head-user ul.main-list .user-info img{width:26px;height: 26px;border-radius: 13px;vertical-align: middle;margin-right: 10px;}
.head-user ul.main-list {
    max-width: 300px;
    margin-left: 0;
}
.head-user ul.main-list  ul.sub-list{
    display: none;
}

#footer{
    background: #222222;
    margin:40px auto 0;
    padding: 20px 0;
    text-align: center;
    color: #888;
}
.sub-list{
    position: absolute;
    top: 59px;
    z-index: 1;
    left: -20px;
    width: 120px;
    margin-top: 1px;
    line-height: 1;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    transition: opacity .5s ease;
    border-top: 10px solid rgba(0,0,0,0);
}
.sub-list li{
    background-color: #222;
}
.sub-list li:first-child {
    padding-top: 10px;
}
.sub-list li:last-child {
    padding-bottom: 10px;
}
.sub-list li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
}
.secondary-nav {
    width: 100%;
    height: 28px;
    padding: 16px 0;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px 0 rgba(133,136,138,.1);
    -moz-box-shadow: 0 2px 8px 0 rgba(133,136,138,.1);
    box-shadow: 0 2px 8px 0 rgba(133,136,138,.1);
}
.secondary-nav .nav-list {
    position: relative;
    text-align: center;
    font-size: 0;
}
.secondary-nav .nav-list li {
    display: inline-block;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
}
.secondary-nav .nav-list li.active a {
    border-bottom: 2px solid #5fb336;
}
.secondary-nav .nav-list li a {
    position: relative;
    display: block;
    height: 100%;
    margin: 0 20px;
    color: #222;
    text-decoration: none;
}

.content {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 40px 20px;
    width: 940px;
    background-color: #fff;
}
.content .avatar-wrap {
    position: absolute;
    right: 40px;
    top: 105px;
}
.content .avatar-wrap .avatar {
    border-radius: 100%;
    width: 110px;
    height: 110px;
    background-size: cover;
    background-position: center;
    text-align: center;
    line-height: 50px;
    color:#fff;
    text-shadow:0 1px 2px #c4b59d;
}
.content .avatar-wrap .change-btn {
    cursor: pointer;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    width: 90px;
    line-height: 28px;
    border: solid 1px #5fb336;
    font-size: 14px;
    color: #5fb336;
    text-align: center;
}
.content .avatar-wrap .change-btn input {
    opacity: 0;
    position: absolute;
    top: -999px;
}

.line-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
}
.line-wrap .title {
    margin: 0;
    height: 45px;
    font-size: 32px;
    font-weight: 500;
    color: #222;
}
.line-wrap .label {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    display: block;
    font-weight: 500;
    color: #222;
}
.line-wrap .input-wrap {
    margin: 12px 0 0;
}
.line-wrap .nomal-textarea {
    width: 460px;
    height: 60px;
    padding: 10px 15px 10px 10px;
    outline: 0;
    font-size: 13px;
    border: solid 2px #e0e0e0;
}
.line-wrap .nomal-input {
    width: 460px;
    height: 20px;
    padding: 10px 15px 10px 10px;
    outline: 0;
    font-size: 13px;
    border: solid 2px #e0e0e0;
}
.line-wrap select {
    width: 460px;
    padding: 10px 15px 10px 10px;
    outline: 0;
    font-size: 13px;
    border: solid 2px #e0e0e0;
    border-radius: 0;
    box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url(../images/arrow.png) no-repeat right center;
}
.line-wrap .submit-btn {
    letter-spacing: 4px;
    text-indent: 4px;
    width: 100px;
    height: 40px;
    border: 0;
    text-align: center;
    outline: 0;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    background-color: #5fb336;
    cursor: pointer;
    margin-top: -12px;
}

.list-body{
    padding: 20px 40px;
    min-height: 800px;
}
.content-gallery{
    min-height: 200px;
}
.content-gallery a.photo_link{
    display: block;
    width: 100%;
    height: 100%;
}
.content-gallery .photo_thumbnail .top-button{
    opacity: 0;
    position: absolute;
    z-index: 101;
    width: 100%;
    min-height: 45px;
    top:0;
    background: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,0)),to(rgba(0,0,0,.6)));
    background: -webkit-linear-gradient(bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);
    background: -moz-linear-gradient(bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);
    background: linear-gradient(to top,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.content-gallery .photo_thumbnail .info{
    opacity: 0;
    position: absolute;
    z-index: 101;
    width: 100%;
    min-height: 45px;
    bottom:0;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.6)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
.content-gallery .photo_thumbnail:hover .info,.content-gallery .photo_thumbnail:hover .top-button{
    opacity: 1;
}
.content-gallery .photo_thumbnail .info span.photo-title{
    position: relative;
    max-width: calc(100% - 40px);
    max-width: -webkit-calc(100% - 40px);
    max-width: -moz-calc(100% - 40px);
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color:#fff;
    top:18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-gallery .photo_thumbnail .info span.photo-title:hover{
    background-color: rgba(255,255,255,0.2);
    border-radius: 3px;
}
.content-gallery .photo_thumbnail .info a.addto{
    width: 24px;
    height: 24px;
    background: url(../images/gallery-btns.png) no-repeat center -60px;
    position: absolute;
    top:18px;
    right: 10px;
}
.content-gallery .photo_thumbnail .top-button .privtype{
    width: 24px;
    height: 24px;
    background: url(../images/gallery-btns.png) no-repeat center 2px;
    position: absolute;
    top:0px;
    right: 10px;
}
.content-gallery .photo_thumbnail .top-button .privtype,.content-gallery .photo_thumbnail .info a.addto,.content-gallery .photo_thumbnail .info span.photo-title{
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
.content-gallery .photo_thumbnail:hover .info span.photo-title,.content-gallery .photo_thumbnail:hover .info a.addto,.content-gallery .photo_thumbnail:hover .top-button .privtype{
    top:11px;
}

.content-gallery .photo_thumbnail .info a.addto:hover{
    background-color: rgba(255,255,255,0.4);
    border-radius: 3px;
}
.content-gallery .photo_thumbnail .top-button .privtype:hover{
    background-color: rgba(255,255,255,0.4);
    border-radius: 3px;
}
.content-gallery .photo_thumbnail .top-button .privtype.open{
    background-position: center -30px
}
.loadingbar{
    color:#aaa;
    text-align: center;
    padding: 20px;
}
.loadingbar label{
    padding-right: 60px;
    background: url(../images/dotloading.gif) no-repeat right center;
}
.loadingbar label.nomore{
    padding: 0;
    display: inline-block;
    width: 128px;
    height: 37px;
    background: url(../images/nomore.png) no-repeat center;
}