/*  css 清零  */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/* 基础 css*/
body{font:14px/25px Consolas,Monaco,monospace,Verdana,sans-serif;color:#444;}
a{color:#76453e;text-decoration:none;}
a:hover{text-decoration:underline;}
b,strong{font-weight:bold;}

a:active{outline:none;/*0也可以*/}

/* 清除 上方元素的float 属性 */
.clear{clear:both;height:0;overflow:hidden;} 

/* 设定块状元素边距 */
.padding{padding:5px 10px;}

.cl:after{content:'\20';display:block;height:0;clear:both;}
.cl{*zoom:1;}

.smallfont{
    font-size: 12px;
}
.notice, .alert, .important {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    margin: 5px 2px;
    padding: 5px 10px;
}
.c_y{color:#FF7D27;}
.gray{color:#999;}

input.btn{
    background: #ddd;
    border-color: #eee #666 #666 #eee;
    border-style: none solid solid none;
    border-width: 0 1px 1px 0;
    height: 24px;
    margin-left: 5px;
    padding: 3px 6px;
}

div.pages{
    text-align: center;
    padding:8px 0;
}
div.pages a{
    padding:2px 4px;
    margin:0 4px;
}
div.pages a:hover{
    background: #eee;
    text-decoration: none;
}
div.pages a i{
    font-style: normal;
}
div.pages a.on{
    background: #f17727;
    color:#fff;
}
#head{
    height:56px;
    background: url(../images/hbg.png) repeat-x;
    border-bottom:3px solid #ddd;
	min-width:750px;
}
#logo{
    height:56px;
    background: url(../images/logo.png) no-repeat;
    width:139px;
    float: left;
    text-indent:-1000px;
    margin-right: 50px;
}
#menu li,#rightmenu li{
    font-family: "微软雅黑";
    float:left;
    height:56px;
    padding:0 15px;
}
#menu li a,#rightmenu li a{
    float:left;
    font-size: 14px;
    font-weight: bold;
    margin-top: 13px;
    color:#fff;
}
#menu li a:hover,#rightmenu li a:hover{
    text-decoration: none;
}
#menu li.current a,#rightmenu li.current a{
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
}
#menu li.right{
    float:right;
}
#rightmenu{
    float: right;
}
#head .editmenu{
    display: block;
    background:url('../images/menu.png') no-repeat;
    width: 16px;
    height: 16px;
    overflow: hidden;
    text-indent: -300px;
    float: left;
    margin-top: 18px;
    margin-left: 5px;
}
#submenu {
    clear:both;
    padding:0 0 0 190px;
    height:30px;
    background:#f6f6f6;
    border-bottom:solid 3px #ddd;
    background-image: linear-gradient(center top , #F9F9F9, #eee); 
    background-image: -moz-linear-gradient(center top , #F9F9F9, #eee); 
}

#submenu ul li{
    float: left;
    height:30px;
    line-height: 30px;
    padding:0 10px;
}
#submenu ul li.current{
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
}
#submenu ul li a{
    color:#444;
}
#footer {
    border-top: 1px solid #660000;
    margin: 5px;
    padding:5px 20px;
}

div.body{
    padding: 10px 10px;
    font-size:14px;
}
#breadcrumb a{
    color:#888;
}
#breadcrumb a.add-action{
    color:#76453e;
}
div.themelist,div.applist{
    padding:10px;
}
div.themelist div.item,div.applist div.item{
    float:left;
    padding:15px;
    border-radius:10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-right: 15px;
    position: relative;
}

div.themelist div.item:hover,div.applist div.item:hover{
    border: 1px solid #ccc;
    background-color: #f6f6f6;
}
div.themelist div.using span.status{
    width:62px;
    height:62px;
    background-position: left top;
    background-image: url(../images/using.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

div.applist a.addtomenu{
    display: block;
    width:10px;
    height: 10px;
    text-indent: -10px;
    overflow: hidden;
    background-image: url(../images/s-add.png);
    position: absolute;
    right:5px;
    top:5px;
}
div.applist div.item .thumb{
    width:32px;height: 32px;
    margin:0 auto;
}
div.applist div.title{
    text-align: center;
    font-size: 12px;
}
div.toolbar{
    padding:10px;
}
a.i-add{
    background: url(../images/i-add.png) no-repeat left -1px;
    padding-left:20px;
    font-size: 14px;
    font-weight: bold;
}
div.titlebar h2 {
    border-left: 10px solid #CCCCCC;
    color: #AA0000;
    font: bold 16px/13px arial;
    margin: 10px 0;
    padding: 0;
    padding-left: 10px;
}


div.body th,div.body td{padding:5px 10px;border-bottom:solid 1px #eee;}
div.body tr{background:#fcfcfc;}
div.body th.bk{background:#eee;}
div.body tr.th{color:#464646;padding:0 5px;font:normal 14px/26px arial;background-color: #F1F1F1;  
background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
background-image: linear-gradient(center top , #F9F9F9, #ECECEC);
}
div.body tr.odd{background:#f9f9f9;}
div.body table{width:100%;margin:10px 0;border-radius: 3px;border:solid 1px #eee;border-collapse:separate;}
div.body .table-add th{float:right;}

.edit_table th{text-align: right;width:140px;background: #f9f9f9}

textarea.code{
    width:800px;
    height: 400px;
    border:2px solid #ddd;
    background: #F9F9F9;
    border-radius: 3px;
}
input[type="text"],input[type="password"]{
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    padding: 3px;
    outline: none;
}
textarea{
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    padding: 3px;
    outline: none;
}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{
    background: #ffffee;
}

input.submit-btn{
    border-radius:3px;
    border:0;
    background: #ff7d27;
    color:#fff;
    font-size:16px;
    font-weight: bold;
    padding:3px 20px;
    cursor:pointer;
}
input.disabled{background: #eee;}

div.text_label{
    line-height: 30px;
}

div.tab{
    height:35px;
    border-bottom: 1px solid #ccc;
}
div.tab a.back{
    float: right;
    margin-top: 5px;
}
div.tab li{
    float:left;
    padding:0 10px;
    margin:0 3px;
    line-height: 28px;
    color: #76453E;
    cursor: pointer;
    border-radius: 4px;
}

div.tab li.active{
    background: #76453E;
    color:#fff;
}

div.tabc{
    padding: 10px;
}

/*超链接的tab标签*/
div.taba{
    height:35px;
    border-bottom: 1px solid #ccc;
}
div.taba li{
    float:left;
}
div.taba li a{
    float:left;
    padding:0 10px;
    margin:0 3px;
    line-height: 28px;
    color: #76453E;
    cursor: pointer;
    border-radius: 4px;
}
div.taba li a:hover{
    text-decoration: none;
}
div.taba li.active a{
    background: #76453E;
    color: #fff;
}
/*超链接的tab标签end*/

.picEdit {
    margin-top: 10px;
}
.picEdit li{
    float: left;
    border: 1px dashed #EEEEEE;
    height: 144px;
    margin: 0 5px 5px 0;
    text-align: center;
    width: 120px;
    padding: 4px;
}
.picEdit li.epic {
    background: #F9F9F9;
    border: 1px solid #EEEEEE;
    cursor: pointer;
}

.picEdit li.epic div.outerb{
    height: 120px;
    margin-bottom: 2px;
    overflow: hidden;
}
.picEdit li.epic div.img {
    height: 120px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.picEdit li.epic a{
    font-size: 12px;
}


/*内容管理主要内容*/
.mainbody{
	
}
.mainbody .left{
	float:left;
	width:200px;
	border-right:1px dashed #ccc;
    overflow: auto;
}
.mainbody .left h3{
	color:#76453E;
	padding:10px 0 4px;
	font-weight:bold;
}
.mainbody .left h3 a.more{
	float:right;
	font-size:12px;
	color:#666;
	margin-right:10px;
	font-weight:normal;
}
.mainbody .right{
	margin-left:210px;
}
#catetree span.selected a{
    color:red;
    font-weight: bold;
}

.bottom_bar{
    background: #F9F9F9;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #666666;
    margin: 5px 2px;
    padding: 5px 10px;
}

/*图像预览*/
#img_preview{
    padding:5px;
    border:2px solid #ddd;
    background:#fff;
    position:absolute;
    display:none;
}
#img_preview img{
    display:block;
}